@model BestPracticeTemplate.Models.StudentCourse

@{
    ViewBag.Title = "MSSQLDetails";
}

<h2>MSSQLDetails</h2>

<div>
    <h4>StudentCourse</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.prerequisite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prerequisite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.created_by)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.created_by)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.created_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.created_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.modified_by)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.modified_by)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.modified_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.modified_date)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "MSSQLEdit", new { id = Model.course_No }) |
    @Html.ActionLink("Back to List", "MSSQLCourses")
</p>
